{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="forgot-password">
    <div class="center">
        <h4>Reset your password</h4>
        <p>Have no fear. We’ll email you instructions to reset your password. If you dont have access to your email we
            can try account recovery</p>

        {% if message %}
        <div class="message">{{ message }}</div>
        {% endif %}

        <form method="post" action="{% url 'forgot_password' %}">
            {% csrf_token %}
            <div>
                <label for="email">Email Address</label>
                <input type="email" name="email" class="form-control form_input border-0">
            </div>
            <div class="reset-button">
                <div>
                    <button type="submit" class="form-control create-btn">Reset Password</button>
                </div>
                <div class="reset">
                    <a class="back-login" href="{% url 'login' %}">
                        <i class="bi bi-arrow-left"></i>
                        Back to Login</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}