{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="forgot-password">
    <div class="center">
        <h4>Choose new password</h4>
        <p>Almost done. Enter your new password and youre all set.</p>

        {% if message %}
        <div class="message">{{ message }}</div>
        {% endif %}

        <form method="post" action="{% url 'password_reset_confirm' uidb64 token %}">
            {% csrf_token %}
            <div>
                <label for="new_password">New Password</label>
                <input type="password" name="new_password" class="form-control form_input border-0">

                <div>
                    <label for="confirm_new_password">Confirm New Password</label>
                    <input type="password" name="confirm_new_password" class=" form-control form_input  border-0">
                </div>
            </div>
            <div class="reset-button">
                <div>
                    <button type="submit" class="form-control create-btn">Reset Password</button>
                </div>
                <div class="reset">
                    <a class="back-login" href="{% url 'login' %}">
                        <i class="bi bi-arrow-left"></i>
                        Back to Login</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}